.yt-video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  .yt-video-thumbnail-wrapper {
    position: relative;
    img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 180px;
    }
    .time-duration {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 4px;
      margin: 4px;
      background-color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      span {
        font-size: 12px;
        line-height: 12px;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
  .yt-video-details-wrapper {
    display: flex;
    gap: 12px;
    .yt-channel-icon {
      width: 36px;
      height: 36px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .yt-video-information {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: calc(100% - 48px);
      h6 {
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        color: var(--yt-clone-color-7);
        font-weight: 500;
        @include lineBreak(2,ellipsis);
      }
      .yt-channel-details {
        p {
          margin: 0;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: var(--yt-clone-color-8);
        }
        .video-details {
          display: flex;
          align-items: flex-start;
          gap: 8px;
          .time {
            display: flex;
            align-items: center;
            gap: 4px;
            .dot {
              width: 3px;
              height: 3px;
              background-color: var(--yt-clone-color-8);
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}
